<nav class="navbar navbar-expand-lg navbar-light bg-warning bg-opacity-25">
	<div class="container-fluid">

		<a class="navbar-brand  text-dark ms-5" href="{{path('app_home')}}">
			<strong>Home</strong>
		</a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
			<ul class="navbar-nav mb-2 mb-lg-0 ">
				{% if is_granted(('IS_AUTHENTICATED_FULLY')) %}
					<li class="nav-item">
						<a class="nav-link text-dark " aria-current="page" href="#">Tableau de bord</a>
					</li>
					<li class="nav-item">
						<a class="nav-link text-dark" href="{{path('publications_app_index')}}">Publications</a>
					</li>
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle text-dark" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
							Rubriques
						</a>
						<ul class="dropdown-menu" aria-labelledby="navbarDropdown">
							<li>
								<a class="dropdown-item text-dark" href="#">Niveaux</a>
							</li>
							<li>
								<a class="dropdown-item text-dark" href="#">Catégories</a>
							</li>
							<li><hr class="dropdown-divider"></li>
							<li>
								<a class="dropdown-item text-dark" href="#">Publications</a>
							</li>
						</ul>
					</li>
					<li class="nav-item">
						<a class="nav-link text-dark" href="{{path('app_logout')}}">Se Déconnecter</a>
					</li>

				{% else %}
					<li class="nav-item">
						<a class="nav-link text-dark " aria-current="page" href="{{path('app_register')}}">S'inscrire</a>
					</li>
					<li class="nav-item">
						<a class="nav-link text-dark" href="{{path('app_login')}}">Se connecter</a>
					</li>
				{% endif %}
			</ul>
		</div>
	</div>
</nav>
