{% extends 'base.html.twig' %}

{% block title %}Publications index{% endblock %}

{% block body %}
    <h1>Publications index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Titre</th>
                <th>Slug</th>
                <th>Contenu</th>
                <th>CreatedAt</th>
                <th>UpdatedAt</th>
                <th>FeaturedImage</th>
                <th>IsActif</th>
                <th>IsAfficher</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for publication in publications %}
            <tr>
                <td>{{ publication.id }}</td>
                <td>{{ publication.titre }}</td>
                <td>{{ publication.slug }}</td>
                <td>{{ publication.contenu }}</td>
                <td>{{ publication.createdAt ? publication.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ publication.updatedAt ? publication.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ publication.featuredImage }}</td>
                <td>{{ publication.isActif ? 'Yes' : 'No' }}</td>
                <td>{{ publication.isAfficher ? 'Yes' : 'No' }}</td>
                <td>
                    <a href="{{ path('app_publications_show', {'id': publication.id}) }}">show</a>
                    <a href="{{ path('app_publications_edit', {'id': publication.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="10">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_publications_new') }}">Create new</a>
{% endblock %}
