{% extends 'blog/base.html.twig' %}

{% block title %}Publications index
{% endblock %}

{% block body %}
	<div class="row mt-3">
		<div class="col">
			<h1>Nos Publications :
			</h1>
		</div>
		<div class="col">
			<p data-aos="fade-up">

				<h3 class="lead mb-0 fst-italic text-danger mt-3">
					<strong class="mx-3 fw-bold">Nous avons
						{{ publications.getTotalItemCount }}
						publications(s) active(s)</strong>
				</h3>
			</p>
		</div>
		<div class="col">
			<a class="btn btn-primary btn-sm mt-3 mx-5" href="{{ path('publications_app_new') }}">Créer une Nouvelle Publication</a>
		</div>
	</div>

	<table class="table table-hover table-bordered table-sm mt-5">
		<thead>
			<tr>
				{#<th>Id</th>#}
				<th>Image</th>
				<th>Titre</th>
				<th>Contenu</th>
				<th>Créé le :</th>
				{#<th>UpdatedAt</th>#}
				{#<th>IsActif</th>#}
				<th>Est Affiché</th>
				<th>actions</th>
			</tr>
		</thead>
		<tbody>
			{% for publication in publications %}
				<tr>
					{#<td>{{ publication.id }}</td>#}
					<td>{{ publication.featuredImage }}</td>
					<td>{{ publication.titre }}</td>
					<td class="w-50">{{ publication.contenu|striptags|u.truncate(250,'...',false) }}</td>
					<td>{{ publication.createdAt ? publication.createdAt|date('Y-m-d H:i:s') : '' }}</td>
					{#<td>{{ publication.updatedAt ? publication.updatedAt|date('Y-m-d H:i:s') : '' }}</td>#}
					{#<td>{{ publication.isActif ? 'Yes' : 'No' }}</td>#}
					<td>{{ publication.isAfficher ? 'Yes' : 'No' }}</td>
					<td>
						<a class="btn btn-primary btn-hover btn-sm" href="{{ path('publications_app_show', {'slug': publication.slug}) }}">show</a>
						<a class="btn btn-primary btn-sm" href="{{ path('publications_app_edit', {'slug': publication.slug}) }}">edit</a>
					</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="10">no records found</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

	<div class="navigation d-flex justify-content-center mt-4 ">
		{{ knp_pagination_render(publications) }}
	</div>

{% endblock %}
