{% extends 'base.html.twig' %}

{% block title %}Publications{% endblock %}

{% block body %}
    <h1>Publications</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ publication.id }}</td>
            </tr>
            <tr>
                <th>Titre</th>
                <td>{{ publication.titre }}</td>
            </tr>
            <tr>
                <th>Slug</th>
                <td>{{ publication.slug }}</td>
            </tr>
            <tr>
                <th>Contenu</th>
                <td>{{ publication.contenu }}</td>
            </tr>
            <tr>
                <th>CreatedAt</th>
                <td>{{ publication.createdAt ? publication.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>UpdatedAt</th>
                <td>{{ publication.updatedAt ? publication.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>FeaturedImage</th>
                <td>{{ publication.featuredImage }}</td>
            </tr>
            <tr>
                <th>IsActif</th>
                <td>{{ publication.isActif ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>IsAfficher</th>
                <td>{{ publication.isAfficher ? 'Yes' : 'No' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_publications_index') }}">back to list</a>

    <a href="{{ path('app_publications_edit', {'id': publication.id}) }}">edit</a>

    {{ include('publications/_delete_form.html.twig') }}
{% endblock %}
